body {
	overflow-x:hidden;
}
@font-face {
  font-family: OpenSansNormal;
  src: url(../font/sourcesans/SourceSansPro-Semibold.otf) format("opentype");
}
@font-face {
	font-family: BrandonThin;
	src: url(../font/brandon/Brandon_thin.otf);
}

@font-face {
	font-family: BrandonReg;
	src: url(../font/brandon/Brandon_light.otf);
}

/*Start Of Navigation Bar*/
#nav {
	height: 70px;
	width: 100%;
	background-color: rgba(0,0,0,0);
	color:white;
	font-family: 'OpenSansNormal';
	font-size: 20pt;
	position: fixed;
	top: 0;
	left: 0; 
	z-index: 2;

	-webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
#navcontent {
	position: fixed;
	width: calc(100% - 40px);
	height: 70px;
	line-height: 70px;
	margin-left: 40px;
	margin-right: 0;	
}

#navcontent a {
	font-size: 13pt;
	text-decoration: none;
	float: right;
	margin-right: 50px;
	color: white; 
}

.hamburger i{
	position: fixed;
	right: 1px;
	font-size: 20pt;
	text-decoration: none;
	float: right;
	color: white; 
}


#nav.scrolled {
    background-color:rgba(0,0,0,0.5);
}



/*End Of Navigation Bar*/


#landing {
	font-size:50pt;
	font-family: 'BrandonReg';
	letter-spacing: 2px;
	color: white;
	font-weight: 700;
	top: 18%;
	width: 100%;
	position: absolute;
	overflow: hidden;

}


#background {
	position: fixed;
	left: -10%;
	top:-10%;
	z-index: -1;
	display: block;

	background-image: url('../img/background4.jpg');

	/*background-color: #22313F;*/
	width: 120%;
	height: 120%;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);*/

}

/*#message {
	position: absolute;
	z-index: 1;
	background-color: #F2F3F7;
	left: 0;
	width: 100%;
	top:100%;
	height: 70px;
}

#message p {
	color: #7B8087;
	text-align: center;
	font-family: 'BrandonThin';
	font-size: 20pt;
	margin-top: 15px;
}

#message p b {
	font-family: 'BrandonReg'
}*/
#content {
	position: absolute;
	left: 0;
	top:calc(100%);
	height: auto;
	width: 100%;
	padding-top: 20px;
	display: block;
}

#about {
	font-family: 'BrandonReg';
	display: block;
	background-color: rgba(255,255,255,0.98);
	color:#7B8087;
	font-size: 20pt;

	height: auto;
	width: 100%;
	padding: 80px;
	padding-top: 20px;
	margin: 0 auto;
	padding: 20px;
	padding-left: 0;


}
#about p {
	font-size: 40pt;
}
#aboutText {
	margin: 10vmin;
	margin-bottom: 0;
	margin-top: 0;
}

/*Start Of Project Stuff*/
#features {
	font-family: 'BrandonReg';
	display: block;
	background-color: rgba(34,167,270,0.8);
	text-align: center;
	color:white;
	font-size: 40pt;
	height: auto;
	width: 100%;
	padding: 80px;
	padding-top: 20px;
	padding-left: 0;
	margin: 0 auto;
}



p {
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
#micon{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
}
h5 {
	text-align: center;
	color:white;
	font-family: 'BrandonThin';
	font-size: 30pt;
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
}
.smaller {
	font-size: 20pt;
}

#project {
	font-family: 'BrandonReg';
	display: inline-table;
	position: relative;
	color:rgba(108, 122, 137,1);
	font-size: 30pt;
	height: 260px;
	width: 290px;
	margin:10px;
	text-align: center;
	margin-top: 25px;
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;

	border-radius: calc(50% + 30px);
	box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.2);
}
#projecttitle a{
	background-color: rgba(255,255,255,0);
	text-decoration: none;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	color:rgba(108, 122, 137,1);
}
#projecttitle a:hover {

	color:#4183D7;
}
#text {
	margin: 10px;
	margin-top: 0;
	font-size: 12pt;
}


a #goToProject  {
	font-family: 'OpenSansNormal';
	background-color: rgba(255,255,255,1.0);
	position: absolute;
	bottom: 35px;
	right: 75px;
	font-size: 12pt;
	border: 0;
	outline: none;
	width: 150px;
	height: 50px;
	border-radius: 25px;
	margin-bottom: -40px

	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;

}

.buttonDiv {

}

a #goToProject:hover  {

	background-color:rgba(108, 122, 137,0.8);
}

.red { background-color: rgba(246,71,71,0.8); }
.red a #goToProject{
	background-color: rgba(255,255,255,1.0);
	color: rgba(246,71,71,1);
}
.red a #goToProject:hover{ background-color: rgba(255,255,255,0.6); }


.orange { background-color: rgba(248,148,6,0.8); }
.orange a #goToProject{
	background-color: rgba(255,255,255,1.0);
	color: rgba(248,148,6,1);
}
.orange a #goToProject:hover{ background-color: rgba(255,255,255,0.6); }


.green { background-color: rgba(46,204,113,0.8); }
.green a #goToProject{
	background-color: rgba(255,255,255,1.0);
	color: rgba(46,204,113,1);
}
.green a #goToProject:hover{ background-color: rgba(255,255,255,0.6); }


.blue { background-color: rgba(34,167,240,0.8); }
.blue a #goToProject{
	background-color: rgba(255,255,255,1.0);
	color: rgba(34,167,240,1);
}
.blue a #goToProject:hover{ background-color: rgba(255,255,255,0.6); }


.purple { background-color: rgba(191,85,236,0.8); }
.purple a #goToProject{
	background-color: rgba(255,255,255,1.0);
	color: rgba(191,85,236,1);
}
.purple a #goToProject:hover{ background-color: rgba(255,255,255,0.6); }

.gray { background-color: rgba(255,255,255,1); color:rgba(108, 122, 137,1);}
.gray a #goToProject{
	background-color: rgba(108, 122, 137,1.0);
	color: rgba(236,236,236,1);
}
.gray a #goToProject:hover{ background-color:rgba(108, 122, 137,0.6); }
/*End Of Project Stuff */

/*Start Of Contact Stuff*/
#contact {
	font-family: 'BrandonReg';
	display: block;
	background-color: rgba(0,0,0,0.7);
	color:white;
	font-size: 40pt;
	height: auto;
	width: 100%;
	padding: 150px;
	padding-top: 20px;
	padding-left: 0;
	text-align: center;
	margin: 0 auto;
}

#contact p {
	margin-bottom: 100px;
}

#contact a{
	color:white;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
#contact a:hover{
	color:rgba(255,255,255,0.6);
}

i {
	margin: 20px;

}
#email {
	font-size: 15pt;
}
/*End Of Contact Stuff*/

/*Start Of Footer*/
#footer {
	font-family: 'BrandonThin';
	display: block;
	background-color: rgba(103, 128, 159, 0.9);
	color:white;
	font-size: 15pt;
	height: auto;
	width: 100%;
	padding: 20px;
	padding-left: 0;
	text-align: center;
	margin: 0 auto;
}
/*End Of Footer*/
